body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f9e9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

h1 {
  color: #1e8c3a;
}

.btn {
  display: block;
  background: #27ae60;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #1e8c3a;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #aaa;
}

.link {
  display: block;
  margin-top: 10px;
  color: #1e8c3a;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
